<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h1>{{race.raceName}}</h1>
  </ion-toolbar>
</ion-header>

<ion-content >
<!--si la course est finie et que les données sont disponible, on affiche le classement-->
<!--  sinon on affiche l'heure prévu du GP-->
  <div *ngIf="isResumed; else blockDate" >
    <!--  slides des classement pilote et constructeur-->
    <ion-slides pager="true" [options]="{autoHeight: true}">
      <!--  Résultat course-->
      <ion-slide>
        <div class="swipe-title">
          <ion-grid>
            <ion-row>
              <h2>Course</h2>
            </ion-row>

            <!--        entete du tableau-->
            <ion-row>
              <ion-col size="3" class="header rank-number">
                <ion-label>Pos</ion-label>
              </ion-col>

              <ion-col size="6" class="header">
                <ion-label>Pilote</ion-label>
              </ion-col>

              <ion-col size="3" class="header">
                <ion-label>Pts</ion-label>
              </ion-col>
            </ion-row>

            <!--        Pilote avec son rang et son totalt de points-->
            <ion-row *ngFor="let driver of race.Results" class="race-result">
              <ion-col size="3" class="rank-number">
                <ion-label>{{driver.position}}</ion-label>
              </ion-col>

              <ion-col size="6" class="driver-name">
                <ion-label>{{driver.Driver.familyName}}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-label>{{driver.points}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

      <!-- Grille de départ-->
      <ion-slide>
        <div id="grid-wrapper">
          <h2 class="grid-title">Grille de départ</h2>

          <!--mettre un margin top pour les pilotes de la 2ème colonne pour simuler une grille de départ-->
          <div *ngFor="let driver of race.QualifyingResults" [ngStyle]="{'margin-top': (driver.position%2==0)? '4rem': '0rem'}">
            <h3>{{driver.position}}</h3>
            <img src="assets/grid-line.svg" class="grid-line">
            <img src="{{'assets/driver-pics/'+ driver.Driver.code +'.png'}}" class="driver-image">
            <h3 class="driver-name">{{driver.Driver.familyName}}</h3>

          </div>
        </div>
      </ion-slide>

      <!-- les chronos des qualifications -->
      <ion-slide>
        <div class="swipe-title">
          <ion-grid >
            <ion-row>
              <h2>Qualification</h2>
            </ion-row>

            <!--        entete du tableau-->
            <ion-row>
              <ion-col size="1" class="header">
              </ion-col>

              <ion-col size="2" class="header">
                <ion-label style="font-size: 0.5rem">Pilote</ion-label>
              </ion-col>

              <ion-col size="3" class="header">
                <ion-label>Q1</ion-label>
              </ion-col>

              <ion-col size="3" class="header">
                <ion-label>Q2</ion-label>
              </ion-col>

              <ion-col size="3" class="header">
                <ion-label>Q3</ion-label>
              </ion-col>
            </ion-row>

            <!--        Pilote avec son rang et ses chronos -->
            <ion-row *ngFor="let driver of race.QualifyingResults" id="qualification">
              <ion-col size="1" class="qualif-ranking">
                <ion-label>{{driver.position}}</ion-label>
              </ion-col>

              <ion-col size="2">
                <ion-label>{{driver.Driver.code}}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-label>{{driver.Q1}}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-label *ngIf="driver.Q2 != null">{{driver.Q2}}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-label *ngIf="driver.Q3 != null">{{driver.Q3}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <ng-template #blockDate>
    <div class="date-prevue">
      Date prévue : {{race.dateTime.toLocaleDateString()}} <br>
      Heure de départ du GP : {{race.dateTime.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}}
    </div>
  </ng-template>
</ion-content>
