@import "src/global";

h1{
  margin: 0rem 0.6rem;
  font-size: 1.2rem;
}

h2{
  margin-left: 0.5rem;
}

.swipe-title{
  width: 100%;
  text-align: start;
  font-size: 0.7rem;
}

.rank-number{
  text-align: center;
}

#qualification{
  ion-label{
    font-family: f1 !important;
    font-size: 0.5rem;
  }
}

.qualif-ranking{
  padding-left: 0;
  padding-right: 0.3rem;
  text-align: end;
}

.driver-name{
  font-size: 1rem;
}

ion-slides{
  --bullet-background-active: #40FFCAFF;
  --bullet-background: #919191;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets{
  position: fixed !important;
  margin-bottom: 50%;
}

.date-prevue{
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#grid-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;

  .grid-title{
    grid-column: 1 / span 2;
    justify-self: start;
  }

  .grid-line{
    max-width: 80%;
  }

  .driver-image{
    max-width: 80%;
    margin-top: -1rem;
  }


}
