<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Classement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Classement</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  boutons des categories-->
  <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()">
    <ion-segment-button value="0">
      <ion-label>Pilotes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Constructeurs</ion-label>
    </ion-segment-button>
  </ion-segment>

<!--  slides des classement pilote et constructeur-->
  <ion-slides #slides [options]="sliderOptions" (ionSlideWillChange)="slideChanged(slides)" (ionSlidesDidLoad)="slideChanged(slides)">
    <ion-slide>
<!--      classement pilote-->
      <ion-list>
        <ion-item lines="none">
          <ion-grid >
            <!--        entete du tableau-->
            <ion-row>
              <ion-col size="3" class="header">
                <ion-label>Rang</ion-label>
              </ion-col>

              <ion-col size="6" class="header">
                <ion-label>Pilote</ion-label>
              </ion-col>

              <ion-col size="3" class="header">
                <ion-label>Pts</ion-label>
              </ion-col>
            </ion-row>

            <!--        Pilote avec son rang et son totalt de points-->
            <ion-row *ngFor="let driver of driverStanding">
              <ion-col size="3">
                <ion-label>{{driver.position}}</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label>{{driver.Driver.familyName}}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-label>{{driver.points}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-grid >
            <!--        entete du tableau-->
            <ion-row>
              <ion-col size="3" class="header">
                <ion-label>Rang</ion-label>
              </ion-col>

              <ion-col size="6" class="header">
                <ion-label>Équipe</ion-label>
              </ion-col>

              <ion-col size="3" class="header">
                <ion-label>Pts</ion-label>
              </ion-col>
            </ion-row>

            <!--        Pilote avec son rang et son totalt de points-->
            <ion-row *ngFor="let team of constructorStanding">
              <ion-col size="3">
                <ion-label>{{team.position}}</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label>{{team.Constructor.name}}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-label>{{team.points}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>

<!--<app-navbar></app-navbar>-->
