@import "src/global";

h1 {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

.race-list{
  display: flex;
  flex-direction: column;

  .race-item{
    margin:  0.5rem 0.5rem;
    background-color: $item;
    border-radius: 0.7rem;
    padding: 0rem 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  h3{
    font-size: 0.9rem;
    font-family: f1-bold;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }

  h4{
    font-size: 0.7rem;
    font-weight: 100;
    margin: 1rem 0rem;
  }
}
